* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F3F5FC;
    display: flex;
    flex-direction: column;
}

.logo {
    margin: 40px 0 0 40px;
}

main {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 80%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    height: 600px;
}

#input-text {
    background-color: transparent;
    border: none;
    outline: none;

    font-size: 32px;
    font-weight: 400;
    color: #0A3871;

    padding: 16px;
    overflow-y: hidden;
    resize: vertical;
    height: auto;
    width: clamp(200px,80%,600px);
}


#input-text::placeholder {
    color: #0A3871;
}

#input-text:focus::placeholder {
    color: transparent;
    transition: all 0.15s;
}


.alert {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}

.alert object {
    width: 25px;
    height: 25px;
}

.alert p {
    padding-top: 3px;
    font-size: 16px;
    font-weight: 400;
    color: #495057;
    opacity: 0.8;
}
.buttons{
    display: flex;
    gap: 20px;
}
button {
    width: 250px;
    height: 50px;
    border-radius: 24px;
    border: 1px solid ;
    
}
button:hover{
    cursor: pointer;
}
.encrypt{
    background: #0A3871;
    color: #fff;
}
.encrypt:hover{
    background-color: #356EA9;
}
.encrypt:active{
    background-color: #609ED4;
}
.decrypt, .copy{
    background: transparent;
    border-color: #0A3871;
    color: #0A3871;
    
}
.decrypt:hover, .copy:hover{
    background-color: #d6deff;
}
.decrypt:active, .copy:active{
    background-color: #c4d0ff;
}
.copy{
    display: none;
}

.output{
    width: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 32px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    gap: 16px;
}
.output h2{
    font-weight: 700;
    font-size: 24px
}
.output p{
    color: #495057
}
#output-text{
    display: none;

    background-color: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    font-weight: 400;
    color: #495057;
    height: 80%;
    resize: none;
}
.copy-message{
    margin-top: 10px;
    transition: opacity 0.5s;
    opacity: 0;
}
